XO       OIINK- Flexible Array                                                            -    -                     -1  1447348958.58514
IU       Global Seismograph Network (GSN - IRIS/USGS)                                     ww   SEED                  -1  1448292944.32701
NM       Cooperative New Madrid Seismic Network                                           ww   SEED                  -1  1359520506.89706
TA       USArray Transportable Array                                                      ww   SEED                  -1  1445989291.99426
